arrow
bokeh
boto3
chromadb
click
datashader
einops
fastapi
ffmpeg
geopandas
geoviews
holoviews
httpx
ipydeps
jupyterlab
markdownify
minio
networkx
numpy
opencv-python
openai
openpyxl
pandas
pillow
psycopg2
pyautogen
pygraphviz
pygeohash
PyJWT
pymysql
pypdf
rdflib
scikit-learn
scipy
selenium
sentence_transformers
simplekml
tiktoken
tqdm
